<html>
    <head>
        <title>KADAVU CRICKET LEAGUE</title>
    </head>
<body background="cricket.jpg">
    <img src="kcl2.jpg" height="100" width="100" alt="100">
    <h1 align="center" style="color: aqua;" style="border-color: black;">KADAVU CRICKET LEAGUE</h1>
    <h1 align="center" style="color: rgb(33, 143, 29);">season 2</h1>
    <h3>starting januvary 2022</h3>
    <h3>consist of 8 teams</h3>
    <h3>A team consist of 9 players </h3>
    <h2>Teams</h2>
    <div align="center">
    <ol type="A">
        <li><h2>Team New Star</h2></li> <a href="youtube.com"> show more</a>
        <li><h2>Team Invaders</h2></li>
        <li><h2>Team Chenthara</h2></li>
        <li><h2>New Friends</h2></li>
        <li><h2>Team Starlet</h2></li>
        <li><h2>Team Aura</h2></li>
        <li><h2>Team Panchami</h2></li>
        <li><h2>Team Luvax</h2></li>
    </ol>
    </div>
    







</body>
</html>